## EXAMPLE SYSTEMD SERVICE ##
## You will need to change a lot of this.
## Mostly things like user.
## You'll also need to setup your ruby env correctly.
## This file is mainly used for production and may be messy, use if you want.


[Unit]
Description=Yuuki-Bot Service

[Service]
# This needs to be cleaner.
ExecStart=/bin/bash -lc 'bundle exec ruby run.rb'
Restart=on-abort

# Change this:
User=erisa
WorkingDirectory=/home/erisa/Yuuki-Bot

## Things
[Install]
WantedBy=multi-user.target
